#scene1VBox, #scene2VBox, #scene3VBox, #croppingRoot {
    -fx-font-family: "Lucida Console";
    -fx-padding: 15;
}

#welcome_text, #subtitle {
    -fx-font-size: 20;
}

#easy_split {
    -fx-font-size: 35;
}

#upload_bill {
    -fx-background-color: "#48494B";
    -fx-text-fill: "white";
    -fx-font-size: 15;
    -fx-cursor: hand;
}
.regular-text {
    -fx-font-size: 15;
}

.item-details-box {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-font-size: 15;
    -fx-padding: 5;
    -fx-background-color: "#ECECEC";
}

.button {
    -fx-background-color: "#48494B";
    -fx-text-fill: "white";
    -fx-font-size: 15;
    -fx-cursor: hand;
}

.total-amount-box {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-font-size: 15;
    -fx-background-color: "#ECECEC";
}

.entered-participant-names {
    -fx-margin-top: 8;
    -fx-font-size: 15;
}